# Entorno virtual
.venv/
env/

# Configuración y contraseñas sensibles
.env
.env.password
.vault_ui
vault.db

# Archivos de compilación
*.spec
build/
dist/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# IGNORAS CARPETAS EN CUALQUIER NIVEL
**//
